Cargo.lock
.DS_Store
.*.swp
/target/
**/*.rs.bk
*.log
.ipynb_checkpoints
nohup.out
*.bin
config.json

bin-data
logs.tar
logs-analysis/local/run*
logs-analysis/network/*-nodes
logs-analysis/network/node-*
neighbors.txt
